{% extends 'MyShop/base.html' %}
{% load static %}
{% block titel %}
Ваша корзина
{% endblock %}
{% block content %}
    <h1>Ваша корзина</h1>
    <table>
    <thead>
    <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for items in cart %}
        {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image.url %}
                            {{ product.image.url }}
                            {% else %}
                                {% static 'images/no_image.png' %}
                            {% endif %}">
                    </a>
                </td>
            <td>{{ product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a> </td>
            <td class="num">{{ item.price }} грн.</td>
            <td class="num">{{ item.total_price }} грн.</td>
            </tr>
    {% endwith %}
    {% endfor %}
    <tr class="total">
        <td>Всего</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }} грн.</td>
    </tr>
    </tbody>
    </table>
    <p class="text-right">
    <a href="{% url 'MyShop:product_list' %}" class="button light">Продолжить покупки</a>
    <a href="#" class="button">Выход</a>
    </p>
{% endblock %}

{% endblock %}
