{% extends 'product/base.html' %}

{% block content %}
<div class="test2">
	{% for p in product_list %}
			<h2>{{p.name}}</h2>
				<img src="{{ p.image.url }}"width="80" height="60" >
	{% autoescape on %}
	{{p.description|linebreaks|truncatewords:20}}
	{% endautoescape %}
			<h3>Цена {{ p.price }} грн.</h3>
			<div class="clear"></div>
			<p class="link-read-post"><a href="#">Полное описание</a></p>

	{% endfor %}
</div>
{% endblock %}
