{% extends "product/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="product-detail">
<img src="{% if product.image %}{{ product.image.url }}{% else %}
{% static "img/no_image.png" %}{% endif %}">
<h1>{{ product.name }}</h1>
<h2>
<a href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
</h2>
<p class="price">{{ product.price }} грн.</p>

{{ product.description|linebreaks }} <hr>
<form action="{% url 'cart:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину">
</form>

</div>
<div>
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} комментарий {{ total_comments|pluralize }}
    </h2>
    {% endwith %}
    {% for comment in comments %}
    <div>
        <p>
            Комментарий {{ forloop.counter }} от {{ comment.name }}{{ comment.date }}
        </p>

    </div>
    {% empty %}
    <p>Нет комментариев</p>
    {% endfor %}

</div>
<div>
<a href="/">На главную страницу</a>
</div>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>
{% endblock %}
