<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты поиска</title>
</head>
<body>
<h1>Результаты поиска</h1>
  <ul>
    {% for product in object_list %}
      <li>
        <a href="{{ product.get_absolute_url }}">{{product.name}}</a>
      </li>
    {% endfor %}
  </ul>
<div>
    <a href="/">На главную</a>
</div>
</body>
</html>